
body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  app-header {
    width: 100%;
    text-align: center;
  }
  
  app-post-create {
    margin-top: 2%;
    width: 60%; 
    max-width: 600px; 
    text-align: center;
  }
  
  app-post-list {
    width: 60%; 
    max-width: 600px; 
    text-align: center;
  }