.mat-form-field {
  height: 100vh;
}

textarea {
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #7a7575bc;
  padding: 20px;
  text-align: center;
}

button {
  width: 12%;
  padding: 10px;
  background-color: #a9a4a4;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

mat-spinner {
  margin: auto;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

input[type='file']{  
  visibility: hidden;  
}  

.image-preview {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 10px auto;
  width: 100%;
  max-width: 400px; 
  height: 300px; 
  border: 2px dashed #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}

mat-form-field,
textarea{
  width: 100%;
}